/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* css producstlist*/
.title {
  text-align: center;

}

.title-management {
  margin-top: 25px;
}

.title-list {
  margin-top: 50px;
}

.title-edit {
  margin-top: 50px;
}

.title_not {
  font-size: 40px;
  font-weight: bolder;
  color: crimson;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.add {
  border: none;
  padding: 12px;
  border-radius: 10px;
  background: rgb(35, 190, 35);
  font-weight: bolder;
  cursor: pointer;
}

.add:hover {
  background: rgb(42, 145, 42);
  transform: scale(0.96);
}

.edit {
  margin-right: 5px;

}


